:root {
  --primary-color: #f4f4f4;
  --secondary-color: #222;
  --secondary-color-alpha: rgba(34, 34, 34, 0.1);
  --tertiary-color: #fff;
  --quaternary-color: lightgray;
  --quaternary-color-active: gray;
  //--quinary-color:;
  //--senary-color:;

  --invalid-color: #bd1616;

  --disabled-brd-color: #111;
  --disabled-bg-color: #333;
  --disabled-txt-color: grey;
}

//TODO: change colors, set themes etc.
