.theme-settings {
    &.dark-theme {
        --primary-color: #222;
        --secondary-color: #f4f4f4;
        --secondary-color-alpha: rgba(244, 244, 244, 0.1);
        --tertiary-color: #000;
        --quaternary-color: #ffb6c1;
        --quaternary-color-active: #d69aa3;

        --invalid-color: #bd1616;

        --disabled-brd-color: #111;
        --disabled-bg-color: #333;
        --disabled-txt-color: grey;
    }

    &.light-theme {
        --primary-color: #f4f4f4;
        --secondary-color: #222;
        --secondary-color-alpha: rgba(34, 34, 34, 0.1);
        --tertiary-color: #fff;
        --quaternary-color: #3ca658;
        --quaternary-color-active: #2e8043;

        --invalid-color: #bd1616;

        --disabled-brd-color: #111;
        --disabled-bg-color: #333;
        --disabled-txt-color: grey;
    }
}
