.theme-primary {
  background-color: var(--primary-color);
}
.theme-secondary {
  background-color: var(--secondary-color);
}
.theme-tertiary {
  background-color: var(--tertiary-color);
}
.theme-quaternary {
  background-color: var(--quaternary-color);
}
