.user-information {
  margin-left: -1rem;
  margin-right: -1rem;
}

.user-information table tbody tr th h2 {
  margin-bottom: 1.5rem;
}

.user-image {
  margin-bottom: 2.5rem;
}

@media only screen and (min-width: 1024px) {
  .user-information {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
