/*@start section*/
.section {
  height: 100vh;
}
/*@end section*/

/*@start section-content*/
.section-content {
  padding: 90px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  height: 100%;
  overflow-y: scroll;
}

@media only screen and (min-width: 1024px) {
  .section-content {
    padding: 140px 0;
  }
}
/*@end section-content*/
