.small-icon {
  height: 1rem;
  width: auto;
}

.medium-icon {
  height: 1.5rem;
  width: auto;
}

.large-icon {
  height: 2.5rem;
  width: auto;
}

.user-image img {
  width: 50%;
  border-radius: 50%;
}
