.desktop-only {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: inline-block;
  }
}

.ta-center {
  text-align: center;
}
